html, body {
    background-image: url('imgs/cimabglong.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    scroll-behavior: smooth;
    
}
.navbar-logo{
    margin-left: 2rem;    
}
 
 .navbar-collapse {
    /*position: fixed;*/    
    transition: top 0.3s;
}


.navbar-light.bg-light {
      background-color: transparent !important;
      text-align: center;
}
.navbar-brand{
    font-size: 4rem;
    font-weight: bold;
    color: white;
    margin-right: 20px; 
    display: flex;
    justify-content: center;
    margin-right: 5rem;
}
.navbar-brand:hover{
    color: #f0ad4e;
    
}
.navbar-nav{
    display: flex;
    justify-content: center;
    margin: auto; 
    flex-grow: 1;
    
}

.navbar-contenido{
    display: block;
    justify-content: center;
    align-items: center; 
}

.navbar-nav .nav-item {
    margin-right: 10px; /* Ajusta el margen entre los elementos del menú según sea necesario */
}


.nav-link{
    font-size: 1.4rem;
    color: white;
    margin-right: 5rem;
    
}
.nav-link:hover{
    color: #f0ad4e;
}

.footer_contenido{
    margin-top: 3rem;
    text-align: left;
    

}

.footer_contactanos{
    margin-left: 0rem;
    margin-right: 0rem;
   
    justify-content: center;
    align-items: center;
    text-align: left;
    font-size: 1.5rem;
    color: white;
    
}


.footer_logo{
    width: 200px;
            height: 200px;
    
}

#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px; /* Agrega un espacio alrededor del contenido del navbar */
}

h1{
    margin-top: 3rem;
    
}

h2{
    margin-top: 3rem;
    margin-bottom: 3rem;
    font-size:1.5rem;
}

.go-up{
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: black;

}

.go-up:hover{
    background-color: white;
    color: black;
    text-decoration: none;
}


.container_home{
    text-align: center;
    margin-top: 10rem;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-bottom: 17rem;
}

.container_nosotros{
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-bottom: 15rem;
    
}

.container_contenidoNosotros{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 3rem;
    margin-right: 3rem;
    margin-bottom: 10rem;
}

.text-center.display-7{
    margin-left:2rem;
}

.container_mentalidad{
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-bottom: 30rem;
}
.container_valores{
    text-align: center;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-bottom: 25rem;
}
.container_unete{
    text-align: center;

    margin-left: 5rem;
    margin-right: 5rem;
    margin-bottom: 13rem;
}

.container_bandeja{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:2rem;
}

.container_send{
    text-align: center;
    margin-left: 1.2rem;
    margin-bottom:1rem;
    

}


.container_imgNosotros{
    display: flex;
    justify-content: left;
    align-items: left;
    margin-top: 2rem;
    margin-bottom: 2rem;

}

.dudas{
    margin-top: 0rem;
    margin-bottom: 0rem;
    margin-left: 0rem;
    margin-right: 0rem;
    

}

.imagen_nosotros{
    border-radius: 5%;
    width: 500px;
    height: 350px;
}



.footer-info{
    display: flex;
    
}


.logo_footerCimacode{
    margin-left: 0rem;
    padding: 1.2rem;
    width: 200px;
    height: 200px;
    
    

}

.footer-margin{
    background-color: black;
    display: flex;
    color: white;
    width: 100%;
    height: 9rem;
    text-align: center;
    font-size: 1.2rem;
    padding: 2rem;
    justify-content: space-between;
    align-items: center;
}

.footer_contenido{
    display: block;
   
    
    margin-right: 35rem;
    margin-bottom: 5rem;
}





footer p{/*Texto del pie de pagina*/
    margin: 0;
    font-size: 1.8rem;
    color: white;
}

.text-center{
    padding:0.5rem;

}




.bandeja_correo{
    display: block;
    width: 300px;
    padding: 10px;
    border: none;
    background-color: #f2f2f2; /* Color de fondo de la caja de texto */
    color: rgba(0, 0, 0, 100); /* Color del texto con transparencia */
    font-size: 16px;
    margin-bottom: 20px; /* Ajusta el margen según sea necesario */
    border: 2px solid black;
    border-radius: 0; 
}




section::before {
    content: "";
    display: block;
    height: 3rem; /* Ajusta la altura según tu necesidad */
    margin-top: -9rem; /* Un valor negativo igual al margen superior que deseas */
    visibility: hidden;
}