html, body {
    background-image: url('imgs/cimabglong.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    scroll-behavior: smooth;
    
}

body {
    padding-top: 20px; /* Adjust this value to match the height of your navbar */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

.navbar-collapse {
    /*position: fixed;*/    
    transition: top 0.3s;
}
#navbar {
    position: sticky;
    top: 0;
    transition: top 0.3s;
}

.navbar-light.bg-light {
      background-color: transparent !important;
      text-align: center;
}
.navbar-brand{
    font-size: 4rem;
    font-weight: bold;
    color: white;
    margin-right: 20px; 
    display: flex;
    justify-content: center;
    margin-right: 5rem;
}
.navbar-brand:hover{
    color: #f0ad4e;
    
}
.navbar-nav{
    display: flex;
    justify-content: center;
    margin: auto; 
    flex-grow: 1;
    
}

.navbar-contenido{
    display: block;
    justify-content: center;
    margin: auto; 
}

.navbar-nav .nav-item {
    margin-right: 10px; /* Ajusta el margen entre los elementos del menú según sea necesario */
}


.nav-link{
    font-size: 1.4rem;
    color: white;
    margin-right: 5rem;
    
}
.nav-link:hover{
    color: #f0ad4e;
}

.footer_contenido{
    margin-top: 3rem;
    text-align: left;
    

}

.footer_contactanos{
    margin-left: 0rem;
    margin-right: 5rem;
   
    justify-content: left;
    align-items: left;
    text-align: left;
    font-size: 1.5rem;
    color: white;
    
}

.header_logo{
    width: 100%;
    height: auto;
    max-height: 100%;
    
}

.footer_logo{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px; /* Agrega un espacio alrededor del contenido del navbar */
}

h1{
    margin-top: 3rem;
    
}

h2{
    margin-top: 3rem;
    margin-bottom: 3rem;
    font-size:1.5rem;
}


.container_home{
    text-align: center;
    margin-top: 10rem;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-bottom: 17rem;
}

.container_nosotros{
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-bottom: 15rem;
    
}

.container_contenidoNosotros{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 3rem;
    margin-right: 3rem;
    margin-bottom: 10rem;
    
    
}

.container_mentalidad{
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-bottom: 30rem;
}
.container_valores{
    text-align: center;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-bottom: 25rem;
}
.container_unete{
    text-align: center;

    margin-left: 5rem;
    margin-right: 5rem;
    margin-bottom: 13rem;
}

.container_bandeja{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:2rem;
}

.container_send{
    text-align: center;
    margin-left: 1.2rem;
    margin-bottom:1rem;
    

}


.container_imgNosotros{
    display: flex;
    justify-content: left;
    align-items: left;
    margin-top: 2rem;
    margin-bottom: 2rem;

}

.dudas{
    margin-top: 0rem;
    margin-bottom: 0rem;
    margin-left: 0rem;
    margin-right: 0rem;
    

}

.imagen_nosotros{
    width: 100%;
    height: auto;
}



.footer-info{
    
    display: flex;
    
}

.logo_footerCimacode{
    width: auto;
    max-height: 10rem;
    object-fit: contain;
}

.footer-margin{
    margin-top: auto;
    background-color: black;
    display: flex;
    color: white;
    width: 100%;
    min-height: 10rem;
    margin-bottom: 0;
    text-align: center;
    font-size: 1.2rem;
    padding: 0rem 2rem 0rem 2rem;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}




footer p{/*Texto del pie de pagina*/
    margin: 0;
    margin-top: 0;
    font-size: 1.8rem;
    color: white;
}

.text-center{
    padding:0.5rem;

}




.bandeja_correo{
    display: block;
    width: 300px;
    padding: 10px;
    border: none;
    background-color: #f2f2f2; /* Color de fondo de la caja de texto */
    color: rgba(0, 0, 0, 100); /* Color del texto con transparencia */
    font-size: 16px;
    margin-bottom: 20px; /* Ajusta el margen según sea necesario */
    border: 2px solid black;
    border-radius: 0; 
}




section::before {
    content: "";
    display: block;
    height: 50px; /* Adjust this value to match the height of your navbar */
    margin: 100px 0 0; /* This should be the negative value of the height */
    visibility: hidden;
}
